# ===================================
# Snowflake connection
# ===================================
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USERNAME=your_username
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=DEV_WH
SNOWFLAKE_DATABASE=FNF
SNOWFLAKE_SCHEMA=SAP_FNF
SNOWFLAKE_ROLE=PU_SQL

# PASSWORD or SNOWFLAKE_JWT
SNOWFLAKE_AUTH_MODE=PASSWORD
SNOWFLAKE_PRIVATE_KEY=
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
